@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "ApercuPro";
  src: url("/fonts/apercu_regular_pro.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ApercuPro";
  src: url("/fonts/apercu_medium_pro.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ApercuPro";
  src: url("/fonts/apercu_bold_pro.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FuturaTS-Medium";
  src: url("/fonts/futura-medium-bt.ttf");
  font-weight: 500;
  font-style: normal;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll {
  animation: scroll 30s linear infinite;
}

.reverse {
  animation-direction: reverse;
}

.text-shadow {
  text-shadow: 5px 3px 6px rgba(0, 0, 0, 0.4);
}
