@font-face {
  font-family: 'Futura';
  src: url("/fonts/futura-medium-bt.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'ApercuPro';
  src: url("/fonts/apercu_light_pro.otf");
  font-display: swap;
  font-weight: 300
}

@font-face {
  font-family: 'ApercuPro';
  src: url("/fonts/apercu_regular_pro.otf");
  font-display: swap;
  font-weight: 400
}

@font-face {
  font-family: 'ApercuPro';
  src: url("/fonts/apercu_medium_pro.otf");
  font-display: swap;
  font-weight: 500
}

@font-face {
  font-family: 'OggRoman';
  src: url("/fonts/Ogg-Roman.otf");
  font-display: swap;
  font-weight: 400
}

html,
body {
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* body {
  overscroll-behavior-y: none;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

div[data-framer-component-type='Text'] span {
  font-size: var(--framer-font-size) !important;
  line-height: var(--framer-line-height) !important;
}

.rating-star {
  padding: 0px !important;
  margin: 0px !important;
}

.product_description_hmtl_outer_container > * {
  margin: 6px 0px;
}

.product_description_hmtl_outer_container > ul, ol {
  list-style-position: inside;
}

.product_description_hmtl_outer_container > ul {
  list-style-type: circle;
}

.product_description_hmtl_outer_container > li {
  margin: 4px 0px;
}

.blog_article:first-child, .blog_article:nth-child(3) {
  border: 2px solid black
}
.blog_article:nth-child(2){
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}